body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow: hidden;
    user-select: none;
}

.main {
    display: flex;
    height: 100vh;
    margin: 0.5rem;
}

.sidebar {
    background-color: black;
    width: 280px;
}

.content {
    background-color: #121212;
    flex: 1;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #121212;
    padding: 0.5rem 0.75rem;
    height: 96px;
    border-radius: 0.5rem;
}

.nav-option a {
    text-decoration: none;
    color: white;
}

.nav-option {
    padding: 0.25rem 0.75rem;
    line-height: 40px;
    opacity: 0.5;
    display: flex;
    align-items: center;
}

.nav-option i {
    padding-right: 1rem;
    font-size: 1.25rem;
}

.nav-option:hover {
    opacity: 1;
}

.library {
    background-color: #121212;
    height: 100%;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.lib-options img {
    height: 1.2rem;
    width: 1.2rem;
    padding-right: 1rem;
    font-size: 1.2rem;
}

.icons {
    opacity: 0.5;
    display: flex;
}

.icons i {
    padding-right: 1.2rem;
    font-size: 1.2rem;
}

.icons i:hover {
    opacity: 1;
}

.boxes {
    padding: 0rem 0.5rem 0.5rem;
}

.box-one, .box-two {
    background-color: #242424;
    height: 90px;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0rem;
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
    line-height: 25px;
}

.box-two {
    position: relative;
    top: 1rem;
    height: 140px;
}

.line-two {
    font-size: 0.8rem;
    font-weight: 500;
}

.box-button {
    position: relative;
    top: 1rem;
}

.button {
    background-color: white;
    color: black;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
}

.content {
    background-color: #1f1f1f;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
}

.navbar {
    height: 2rem;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.symbol {
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    text-align: center;
}

.navbar-play {
    display: flex;
    justify-content: space-evenly;
}

.navbar-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marg {
    margin-right: 0.5rem;
}

.navbar-app {
    background-color: #0000008A;
    color: white;
}

.forward img {
    opacity: 0.5;
}

.backward img {
    opacity: 0.5;
}

.bell i, .profile i {
    opacity: 0.5;
}

.bell i:hover, .profile i:hover{
    font-size: 1.2rem;
    opacity: 1;
    transition: 0.2s ease-in-out;
}

.content-options {
    height: 100%;
    padding: 0rem 1.5rem;
}

.shows {
    height: 300px;
    margin-bottom: 1rem;
}

.shows-options {
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.shows-options a {
    color: white;
    text-decoration: none;
}

.title {
    font-size: 1.3rem;
}

.show-all {
    opacity: 0.5;
}

.title:hover, .show-all:hover{
    text-decoration: underline;
}

.cards {
    display: flex;
    height: 100%;
}

.card {
    width: 33%;
    border-radius: 0.5rem;
    background-color: #181818;
    margin-right: 1.5rem;
    opacity: 0.8;
}

.image1 {
    height: 65%;
    margin: 1.5rem 1.5rem 0rem;
    background-image: url(./assets/card1img.jpeg);
    background-size: contain;
    border-radius: 0.5rem;
}

.image2 {
    height: 65%;
    margin: 1.5rem 1.5rem 0rem;
    background-image: url(./assets/card2img.jpeg);
    background-size: contain;
    border-radius: 0.5rem;
}

.image3 {
    height: 65%;
    margin: 1.5rem 1.5rem 0rem;
    background-image: url(./assets/card3img.jpeg);
    background-size: contain;
    border-radius: 0.5rem;
}

.name {
    padding: 0rem 1.5rem 0rem;
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.sub-name {
    padding: 0rem 1.5rem 0rem;
    margin: 0 0;
    opacity: 0.5;
    font-size: 0.8rem;
}

.card:hover {
    background-color: #242424;
}






